# Python Basics: A Hands‑On Tutorial (Jupyter Notebook)

*A compact, practice-first Python intro inspired by the core topics from the video linked in your request.*

> Tip: Run a cell with **Shift+Enter**. Edit any cell and re-run to experiment.

## 1) Hello, Python

The classic first program is printing a message.

In [ ]:
print("Hello, world!")

Hello, world!

### Variables & Basic Types
Python variables are created by assignment. Types are dynamic (no need to declare).

Common types:

- int:     integers (whole numbers, positive or negative)

- float:   floating point numbers (decimals) 64-bit double precision  


- complex: complex numbers with real and imaginary parts

- str:     strings (text enclosed in quotes)

- bool:    boolean type, logical values (True/False)

Note: C or C++ have different float types

              float (32-bit, single precision)
              double (64-bit, double precision)
              long double (extened precision, depends on complier/architecture)

In [1]:
name = "Ada"
age = 31
height_m = 1.70
is_engineer = True

print(type(name), type(age), type(height_m), type(is_engineer))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [2]:
import sys
print(sys.float_info)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Type Conversion
Convert between types with constructors: `int()`, `float()`, `str()`, `bool()`.

In [8]:
# Try converting string to float and integer
pi_str = "3.14159"
pi_f = float(pi_str)
pi_i = int(pi)

print(pi_str, pi_f, pi_i)
print(type(pi_str), type(pi_f), type(pi_i))


# Converting to integer always rounds off
pi_f = 3.99
pi_i = int(pi_f)
print(pi_f, pi_i)

# Reassign pi_i to the float value (pi_f) again
# (Note: this is not renaming, just assigning a new value)

pi_i = pi_f
print(pi_i, type(pi_i))

# Calculate the area of a circle with radius 2
radius = 2
area = pi * radius ** 2
area_str = str(area)
area, area_str
#"The area of a circle with radius " + str(radius) + " is " + area_str + "."

3.14159 3.14159 3
<class 'str'> <class 'float'> <class 'int'>
3.99 3
3.99 <class 'float'>

(12.56636, '12.56636')

## 2) Strings
Work with text using `str`. Common operations include slicing and methods.

In [16]:
# Define a string
s = "CP&E701 makes me happy"

# Slice: take characters from index 0 up to (but not including) 8
print(s[:8])

# Convert the string to all upper/lower case letters
print(s.upper())
print(s.lower())

# Replace a word ("happy") with another ("productive")
# -> "Python makes me productive"
print(s.replace("happy", "productive"))

# Split the string into a list of words (by default split on spaces)
# -> ["Python", "makes", "me", "happy"]
print("words:", s.split())

s2 = "Python<makes<me<happy"
print(s2.split("<"))

# f-string formatting: insert variables directly into a string
thing = "CP&E701"
why = "fun"
print(f"Learning {thing} is {why}!")

pi = 3.14159
print(f"Pi is approximately {pi:.2f}")

CP&E701
CP&E701 MAKES ME HAPPY
cp&e701 makes me happy
CP&E701 makes me productive
words: ['CP&E701', 'makes', 'me', 'happy']
['Python', 'makes', 'me', 'happy']
Learning CP&E701 is fun!
Pi is approximately 3.14

## 3) Numbers & Operators
- Arithmetic: `+ - * / // % **`
- Comparisons: `== != < <= > >=`
- Logical: `and or not`

In [21]:
a = 7
b = 3

#a, b ,c = 7, 3, "good"

# Arithmetic operators
print("add:", a + b)        # addition -> 10
print("sub:", a - b)        # subtraction -> 4
print("mult:", a * b)       # multiplication -> 21
print("div:", a / b)        # true division -> 2.333...
print("floor div:", a // b) # floor division (rounds down) -> 2
print("floor div:", -a // b) # floor division (rounds down) -> 2
print("mod:", a % b)        # modulus (remainder) -> 1
print("power:", a ** b)     # exponentiation (7^3) -> 343

# Comparison operators
print("compare:", a > b, a == b)
# a > b -> True (7 > 3)
# a == b -> False (7 is not equal to 3)

# Logical operators
print("logic:", (a > 0) and (b > 0))
# (a > 0) -> True, (b > 0) -> True
# True and True -> True

good
add: 10
sub: 4
mult: 21
div: 2.3333333333333335
floor div: 2
floor div: -3
mod: 1
power: 343
compare: True False
logic: True

## 4) Collections: Lists, Tuples, Sets, Dicts
- **List**: ordered, mutable
- **Tuple**: ordered, immutable
- **Set**: unordered, unique items
- **Dict**: key → value mapping

In [ ]:
# List
nums = [10, 20, 30]
nums.append(40)
nums[1] = 22
nums, len(nums), nums[-1]

In [ ]:
# Tuple (immutable)
pt = (3, 4)
x, y = pt  # unpacking
x, y

In [ ]:
# Set (unique elements)
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b), a.intersection(b), a - b

In [ ]:
# Dict (mapping)
person = {"name": "Ada", "age": 31}
person["city"] = "London"
list(person.items())

## 5) Control Flow: `if`, `for`, `while`
Use conditions and loops to control execution.

In [ ]:
temperature = 28
if temperature > 30:
    status = "hot"
elif temperature >= 20:
    status = "pleasant"
else:
    status = "cool"
status

In [ ]:
# for-loop
squares = []
for n in range(5):
    squares.append(n*n)
squares

In [ ]:
# while-loop with break/continue
n = 0
evens_under_10 = []
while True:
    n += 1
    if n % 2 != 0:
        continue
    evens_under_10.append(n)
    if n >= 10:
        break
evens_under_10

## 6) Functions
Wrap reusable logic in functions. Use docstrings to explain behavior.

In [ ]:
def greet(name: str = "world") -> str:
    """Return a friendly greeting."""
    return f"Hello, {name}!"

greet(), greet("Yiling")

In [ ]:
def factorial(n: int) -> int:
    """Compute n! for n >= 0."""
    if n < 0:
        raise ValueError("n must be non-negative")
    result = 1
    for k in range(2, n+1):
        result *= k
    return result

[factorial(k) for k in range(6)]

## 7) Exceptions (Try/Except)
Handle errors gracefully instead of crashing the program.

In [ ]:
def safe_divide(a, b):
    try:
        return a / b
    except ZeroDivisionError:
        return float('inf')  # or handle another way

safe_divide(10, 2), safe_divide(5, 0)

## 8) File I/O
Read and write text files using context managers (`with`).

In [ ]:
text_path = "example.txt"
with open(text_path, "w", encoding="utf-8") as f:
    f.write("first line\nsecond line\n")

with open(text_path, "r", encoding="utf-8") as f:
    content = f.read()
content

## 9) Modules & Packages
Use the standard library or third‑party packages (installed via `pip` or `conda`).

In [ ]:
import math
values = [0, math.pi/6, math.pi/4, math.pi/2]
[math.sin(v) for v in values]

## 10) Bonus: List Comprehensions & Lambda
Pythonic ways to transform collections and create small anonymous functions.

In [ ]:
# list comprehension
nums = list(range(10))
doubles = [n*2 for n in nums]

# condition in comprehension
evens = [n for n in nums if n % 2 == 0]

# lambda + sorted by last letter
names = ["Tom", "Ada", "Grace", "Alan"]
sorted_names = sorted(names, key=lambda s: s[-1])
doubles, evens, sorted_names

---
### Appendix: Tips for Jupyter
- **Shift+Enter** to run, **Esc** then **A/B** to insert cells above/below, **M/Y** to toggle Markdown/Code.
- Restart kernel via the menu if things act weird.
- Save your work often.